# List comprehensions and generator expressions

In [1]:
# Build a list of Unicode codepoints from a string
symbols = '$¢£¥€¤'
codes = [ord(symbol) for symbol in symbols]
codes

[36, 162, 163, 165, 8364, 164]

In [2]:
# Beyond ASCII
# Instead of filter we can write
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
beyond_ascii

[162, 163, 165, 8364, 164]

In [3]:
beyond_ascii = list(filter(lambda c: c > 127, map(ord, symbols)))
beyond_ascii

[162, 163, 165, 8364, 164]

In [4]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors 
                         for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [5]:
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [6]:
import array

array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [7]:
for tshirt in (f'{c!s} {s!s}' for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

In [8]:
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)

Tuple unpacking works with any iterable object. Iterable must yield exactly one item per variable in the receiving tuple.

In [9]:
lax_coordinates = (33.9425, -118.408056)
lat, long = lax_coordinates
print(lat, long)

33.9425 -118.408056

In [10]:
t = (20, 8)
divmod(*t)

(2, 4)

In [11]:
quotient, remainder = divmod(*t)
print(quotient, remainder)

2 4

In [12]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [13]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

In [14]:
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:  # Western hemisphere
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

In [15]:
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.68722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.68722, 139.691667))

In [16]:
tokyo.population, tokyo.coordinates

(36.933, (35.68722, 139.691667))

In [17]:
# Tuples have few useful attributes
City._fields

('name', 'country', 'population', 'coordinates')

In [18]:
# Named tuples as opposed to regular ones can't be instantiated
# from an iterable. _make() method allows it though.
delhi_data = ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
delhi = City._make(delhi_data)
delhi

City(name='Delhi NCR', country='IN', population=21.935, coordinates=(28.613889, 77.208889))

Slice and Range objects don't include the last index given to them in Python. Thanks to that it is convenient to:

- See the length of the slice when only stop position is given. `my_list[:7]` has 7 elements.
- Compute the length of the slice when stop and start are given subtract stop - start. `my_list[2:7]` is `7-2 = 5`.
- Split a sequence into two parts at any index x without overlapping. Simply write `my_list[:x]` and `my_list[x:]`

# Slice objects

To evaluate `seq[start:stop:step]` Python calls `seq.__getitem__(slice(start, stop, step))`. You can use slices to extract information from sequences and to change mutable sequences in place without rebuilding

In [1]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
l[2:5] = [20, 30]
l

[0, 1, 20, 30, 5, 6, 7, 8, 9]

In [3]:
del l[5:7]

In [4]:
l

[0, 1, 20, 30, 5, 8, 9]

In [5]:
l[3::2] = [11, 22]
l

[0, 1, 20, 11, 5, 22, 9]

In [6]:
l[2:5] = 100  # The right hands side must be iterable

TypeError: can only assign an iterable

In [7]:
l = [1, 2, 3]
l * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [8]:
l  # using + or * with seq always produces new sequence

[1, 2, 3]

In [9]:
# Building a list of lists
# tic tac toe board
board = [['_'] * 3 for i in range(3)]
board[1][2] = 'X'
board

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

In [11]:
weird_board = [['_'] * 3] * 3
weird_board[1][2] = 'X'
weird_board

[['_', '_', 'X'], ['_', '_', 'X'], ['_', '_', 'X']]

This happens because outer list is made from three references to the same inner list.

Augmented addition `+=` works by calling `__iadd__` if it isn't available Python falls back on `__add__`

In [16]:
l = [1, 2, 3]
id(l)

140505274322312

In [17]:
l *= 2
l

[1, 2, 3, 1, 2, 3]

In [18]:
id(l)

140505274322312

In [21]:
t = (1, 2, 3)
id(t)

140505265479256

In [22]:
t *= 2

In [24]:
t, id(t)

((1, 2, 3, 1, 2, 3), 140505535318536)